# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
.idea/
*.iml
android/.gradle/
android/app/build/
android/build/

# Reszta
.DS_Store
*.log